# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Large datasets
data/raw/
data/extracted/
data/processed/

# Models
outputs/
models/
*.joblib
*.pkl

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Notebooks checkpoints
.ipynb_checkpoints/

# Parquet files
*.parquet

# Benchmark outputs
reports/